.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  opacity: 0;
  user-select: none;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  height: 10%;
}

.navContainer > h1 {
  margin: 2% 0%;
  width: 100%;
  font-size: 36px;
}

.navOptions {
  width: 100%;
  display: flex;
  color: white;
  justify-content: flex-end;
}

.navOptions > div {
  padding-left: 5%;
}

.navOptions > div:hover {
  animation: textColorAnim 3s infinite;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s;
}

@keyframes textColorAnim {
  0% {
    color: white;
  }
  25% {
    color: #8543ff;
  }
  50% {
    color: #ffb235;
  }
  75% {
    color: #ff00d0;
  }
  100% {
    color: white;
  }
}
