::-webkit-scrollbar {
  display: none;
}
.app {
  width: 100vw;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 768px;
  z-index: 1;
  user-select: none;
}
